.formdiv{
    border: 1px solid black;
    border-radius: 6px;
    padding: 15px;
    height: 50%;
}

input{
    width: 100%;
    border: 1px solid black;
    background-color:#D3D3D3;
    border-radius: 6px;
    padding: 8px;
    margin-top:8px;
    margin: auto;
}

.button{
    background-color: black;
    color:white;
    border-radius: 6px;
    width: 50%;
    padding: 10px;
    display: block;
    margin: auto;
    text-align: center;
    cursor: pointer;
} 

@media screen and (min-width: 512px) and (max-width:1024px) {

    input{
        width: 100%;
        border: 1px solid black;
        background-color:#D3D3D3;
        padding: 8px;
        margin-top:8px;
        margin: auto;
    }

}
@media screen and (min-width: 300px) and (max-width:511px) {

    input{
        width: 100%;
        border: 1px solid black;
        background-color:#D3D3D3;
        padding: 8px;
        margin-top:8px;
        margin: auto;
    }

}