img{
    width: 100%;
}
.ridesContainter
{
    width: 80%;
    margin: auto;
}
.ridesdiv
{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap:20px;
    margin: auto;
    margin: 2%;
}
.divcard{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    width:95%;
    gap:15px;
}
.leftcard{
    width: 45%;
    margin: auto;
}
.leftcard img{
    width: 100%;
}

.rightcard{
    width: 50%;
    margin: auto;
}

.safetyContainer
{
    width: 80%;
    margin: auto;
    /* border: 1px solid black; */
    /* background-color: #F5F5F5; */
    margin-top: 3%;

}
h4{
    margin:2%;
}
.safetyDiv
{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap:30px;
    margin: auto;
    margin: 2%;
}

.thirdContainer{

    width: 75%;
    margin: auto;
    /* border: 1px solid black; */
    /* background-color: #F5F5F5; */
    margin-top: 2%;

}
.thirdsectionDiv{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    margin: auto;
    /* margin: 2%; */

}


@media screen and (min-width: 512px) and (max-width:1024px) {

    .ridesContainter
{
    width: 90%;
    margin: auto;
}
.ridesdiv
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    margin: auto;
    margin: 2%;
}
.divcard{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:95%;
    gap:15px;
}

.safetyContainer
{
    width: 93%;
    margin: auto;
    /* border: 1px solid black; */
    /* background-color: #F5F5F5; */
    margin-top: 3%;

}
h4{
    margin:2%;
}
.safetyDiv
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:30px;
    margin: auto;
    margin: 2%;
}

.thirdContainer{

    width: 90%;
    margin: auto;
    /* border: 1px solid black; */
    /* background-color: #F5F5F5; */
    margin-top: 2%;

}
.thirdsectionDiv{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    margin: auto;
    /* margin: 2%; */

}

  }
  
  @media screen and (min-width: 300px) and (max-width:511px) {

    
    .ridesContainter
{
    width: 90%;
    margin: auto;
}
.ridesdiv
{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap:20px;
    margin: auto;
    margin: 2%;
}
.divcard{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:95%;
    gap:15px;
}

.safetyContainer
{
    width: 95%;
    margin: auto;
    /* border: 1px solid black; */
    /* background-color: #F5F5F5; */
    margin-top: 3%;

}
h4{
    margin:2%;
}
.safetyDiv
{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap:30px;
    margin: auto;
    margin: 2%;
}

.thirdContainer{

    width: 93%;
    margin: auto;
    /* border: 1px solid black; */
    /* background-color: #F5F5F5; */
    margin-top: 2%;

}
.thirdsectionDiv{

    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap:20px;
    margin: auto;
    /* margin: 2%; */

}
  
    
  }